* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #0b2434;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
main {
    background-color: #f5f5f5;
    min-height: 400px;
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-left: clamp(0.125em, 0.08em + 2vw, 2em);
    padding-right: clamp(0.125em, 0.08em + 2vw, 2em);
    padding-top: 2em;
    padding-bottom: 2em;
}
.info {
    text-align: center;
}
.info h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
.info p {
    width: 30ch;
    font-size: 1.125rem;
    color: #777;
}
.won {
    font-size: 2rem;
    color: #5035ff;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    padding: 2em;
}
@media (max-width: 480px) {
    .dice-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}
.dice-container > div {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.dice-container > div.one, .dice-container > div.two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125em;
}
.dice-container > div.three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px 0;
}
.dice-container > div.three .dot:first-child {
    align-self: flex-start;
}
.dice-container > div.three .dot:last-child {
    align-self: flex-end;
}
.dice-container > div.four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.dice-container > div.five {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.dice-container > div.five .dot:nth-child(3) {
    grid-column: 1 / 3;
}
.dice-container > div.six {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.dice-container .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
.roll-btn, .restart {
    display: block;
    border: none;
    color: white;
    background-color: #5035ff;
    padding: 0.5em 1.5em;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.restart {
    margin-top: 2em;
}
.roll-btn:active, .restart:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.score-container {
    margin: 2em;
}
.score-container .record:first-of-type {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}
.score-container .record:last-of-type {
    padding-top: 1em;
}
.score-container p {
    color: #777;
    margin: 0;
}
.score-container p b {
    font-size: 1.5rem;
    color: rgb(104, 103, 103);
}
.timer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
    color: #333;
}